*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content {
  display: grid;
  grid-template-areas: "result content__details";
  align-items: end;
  gap: 30px;
  padding: 133px 30px;
}

.result {
  display: flex;
  flex-direction: column;
  grid-area: result;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  color: #ffffff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
}

.search-form__fieldset {
  border: none;
}

.search-form__textfield {
  width: 225px;
  border: 1px solid #ffffff;
  border-right: none;
  border-left: none;
  padding: 2.5px 0;
  color: #ffffff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  background-color: transparent;
  appearance: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  outline: none;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin-top: 5px;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #ffffff;
  text-align: center;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-area: content__details;
  gap: 20px;
  box-sizing: border-box;
  width: 399px;
}

.title {
  display: inline-block;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  /*min-height: 210px;*/
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow-y: scroll;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.content__list-item {
  padding-right: 3px;
  padding-left: 3px;
}

.content__card-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.content__video-card-title {
  display: block;
  max-width: 196px;
  margin-bottom: 6px;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.content__video-card-description {
  line-height: 16.2px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card:focus-visible {
  outline: 1px solid #ffffff;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: fill;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__accent {
  color: #545050;
}

.button {
  border: 1px solid #ffffff;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #ffffff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
